.idea
Data/media/*.jpg
Data/*.csv
!Data/media/no_image.png
Apps/Zone_app/migrations/*.py
!Apps/Zone_app/migrations/__init__.py
my_venv
__pycache__
Apps/Zone_app/management/commands/secret.txt
Apps/Zone_app/management/commands/outputfile.txt
