.idea
Data/media/*.jpg
Data/media/*.png
!Data/media/loading.gif
!Data/media/no_image.png
Data/*.csv
Apps/Zone_app/migrations/*.py
!Apps/Zone_app/migrations/__init__.py
my_venv
__pycache__
Apps/Zone_app/management/commands/secret.txt
Apps/Zone_app/management/commands/outputfile.txt
settings.py