.idea
tsconfig.json
*.map
Data/media/*
!Data/media/icons
Data/media/icons/*
!Data/media/loading.gif
!Data/media/no_image.png
!Data/media/.gitignore
Data/*.csv
Apps/Zone_app/migrations/*.py
!Apps/Zone_app/migrations/__init__.py
my_venv
__pycache__
Apps/Zone_app/management/commands/secret.txt
Apps/Zone_app/management/commands/outputfile.txt
Zone/settings.py
