{% load staticfiles %}
<div id="detail_name" style="margin-top: -12pt; margin-bottom: 10pt;">
    <h3>{{ place.name }}</h3>
</div>
<hidden type="input" id="detail_place_id" value="{{ place.id }}"></hidden>
<hidden type="input" id="detail_lat" value="{{ place.latitude }}"></hidden>
<hidden type="input" id="detail_lng" value="{{ place.longitude }}"></hidden>

<div class="top_picture">
    <img src={{ picture_url }} alt={{ place.name }} style="width: 250pt; height: 250pt; float: left; margin: 0 15pt 0 0;"/>
    <div id="detail_info" style="overflow: auto;">
        <div id="detail_total_point">
            <b>合計ポイント:</b>{{place.total_point}}point<br/>
        </div>
        <b>wi-fi：</b>
        {% if wifi %}
            {{ wifi }}
        {% endif %}
        <br><b>電源：</b>
        {% if outlet %}
            あり
        {% endif %}
        <br><b>電話番号:</b>
        {{place.tell}}
        <br>
        <b>URL：</b>
        <a href=" {{place.URL_PC}} " target="_blank"> {{place.URL_PC}}</a>
        <br>
        <b>営業時間:</b>
        {{place.open_time}}
        <br>
        <br>
        {{place.PR}}
        {% if place.URL_Mobile %}
        <br><p style="font-size: 9pt; color: gray;">（参考URL）<a href=" {{place.URL_Mobile}} " target="_blank" style="color: gray;"> {{place.URL_Mobile}}</a></p>
        {% endif %}
    </div>
</div>
<div style="clear:both;"></div>
{% for message in messages %}
<script type="text/javascript">
        $('.modal-footer').children().attr('disabled', true);
        $('.modal-footer').prepend('<p style="font-size:10pt; color: red; float: left; ">{{ message }}</p>');
</script>
{% endfor %}
