{% load staticfiles %}
<div id="detail">
    <h3>{{ place.name }}</h3>
    <br>
</div>
<hidden type="input" id="detail_place_id" value="{{ place.id }}"></hidden>

<div class="top_picture">
    <img src={{ picture_url }} alt={{ place.name }} style="width: 250pt; float: left; margin: 0 5pt 0 0;"/>
    <div id="info">
                    <div id="total_point">
                        合計ポイント:{{place.total_point}}point<br/>
                    </div>
                    wi-fi：
                    {% if place.wifi_softbank %}
                        softbank
                    {% endif %}
                    {% if place.wifi_free %}
                        free
                    {% endif %}
                    <br>電源：
                    {% if place.outlet %}
                        あり
                    {% endif %}
        <br>
                    URL：<br>


                </div>
</div>
<div style="clear:both;"></div>
