{% load staticfiles %}
<div id="detail">
    <h3>{{ place.name }}</h3>
</div>
<hidden type="input" id="detail_place_id" value="{{ place.id }}"></hidden>

<div class="top_picture">
    <img src={{ picture_url }} alt={{ place.name }} style="width: 250pt; height: 250pt; float: left; margin: 0 5pt 0 0;"/>
    <div id="info">
        <div id="total_point">
            合計ポイント:{{place.total_point}}point<br/>
        </div>
        wi-fi：
        {% if wifi_softbank %}
            softbank
        {% endif %}
        {% if wifi_free %}
            free
        {% endif %}
        <br>電源：
        {% if outlet %}
            あり
        {% endif %}
        <br>電話番号:
        {{place.tell}}
        <br>
        URL：
        {{place.URL_PC}}
        <br>
        営業時間:
        {{place.open_time}}
    </div>
</div>
<div style="clear:both;"></div>
{% for message in messages %}
<script type="text/javascript">
        $('.modal-footer').children().attr('disabled', true);
        $('.modal-footer').prepend('<p style="font-size:10pt; color: red; float: left; ">{{ message }}</p>');
</script>
{% endfor %}
