{% extends "base.html" %}
{% block title %}TOP{% endblock title %}

{% block content %}

{% load staticfiles %}
<!-- Bootstrap core CSS -->

<!-- Custom CSS -->
<link href="{% static 'top/css/main.css' %}" rel="stylesheet">
<link href="{% static 'top/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'top/css/animate-custom.css' %}" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
<script src="{% static 'top/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'top/js/modernizr.custom.js' %}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!--<div data-spy="scroll" data-offset="0" data-target="#navbar-main">-->

<!-- ==== HEADERWRAP ==== -->
<div id="headerwrap" name="home">
  <header class="clearfix">
    <br>
    <br>
    <h1>Zone</h1>
    <p>リモートワーカの方に最適な作業環境を提供します。</p>
    <a href="/maps" class="smoothScroll btn btn-lg">Start Application</a>
  </header>
</div>
<!-- /headerwrap -->

<!-- ==== ABOUT ==== -->
<div id="about" name="about">
  <div class="container">
    <div class="row white">
      <h2 class="centered">Zoneについて</h2>
      <hr>
      <div class="col-md-6"> <img class="img-responsive" src="/static/images/top_zone.jpg" align=""> </div>
      <div class="col-md-6">
        <h2>背景</h2>
        <p class="large">　このプロジェクトは、「外で作業したいけど理想的な場所を探すのに家で一日を過ごしてしまった」、そんなノマドやリモートワーカーを０にしようと立ち上がりました。 このシステムは皆様に最適な環境をおすすめすることで、作業場所を探す手間をたった数クリックに変えて見せます。<br/>
          　そこで私たちが作ろうと考えたのは、ノマドやリモートワーカーの力を合わせて全員が必要なものを作り上げるプラットホームです。</p>
      </div>
    </div>
    <!-- row -->
  </div>
</div>
<!-- container -->

<!-- ==== SERVICES ==== -->
<div id="services" name="services">
  <div class="container">
    <div class="row">
      <h2 class="centered">提供される機能</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2">
        <p class="large">それぞれのユーザにとって最適な場所を提供するための機能です。</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-search fa-3x"></i>
        <h3>Search</h3>
        <p>住所および場所の検索に加え、電源、Wi-Fi等の設備からも場所を絞り込むことができます。</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-thumbs-up fa-3x"></i>
        <h3>Recommend</h3>
        <p>あなたの好みに合った最適な場所をおすすめしてくれます。</p>
      </div>
      <div class="col-lg-4 callout"> <i class="fa fa-user fa-3x"></i>
        <h3>User Recommend</h3>
        <p>ポイントを使用してユーザ自身がシステムからのレコメンドに影響を与えることが可能です。</p>
      </div>
    </div>
    <!-- row -->
  </div>
</div>
<!-- container -->

<!-- ==== PORTFOLIO ==== -->
<!--
<div id="portfolio" name="portfolio">
  <div class="container">
    <div class="row">
      <h2 class="centered">私たち</h2>
      <hr>
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
      </div>
    </div>
  </div>
</div>
-->
<!-- /container -->

<!-- ==== TEAM MEMBERS ==== -->
<!--
<div id="team" name="team">
  <div class="container">
    <div class="row centered">
      <h2 class="centered">MEET OUR TEAM</h2>
      <hr>
      <div class="col-lg-6 centered"> <img class="img img-circle" src="top/img/team/team01.jpg" height="120px" width="120px" alt="">
        <h4><strong>RyotaSakamoto</strong></h4>
        <p>Albucius consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
      <div class="col-lg-6 centered"> <img class="img img-circle" src="top/img/team/team02.jpg" height="120px" width="120px" alt="">
        <h4><b>Takatomo Ishikawa</b></h4>
        <p>Albucius consectetuer eu nam. Saepe legendos vulputate eu quo, id mea comprehensam signifer.</p>
        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a>
      </div>
    </div>
  </div>

</div>
-->
<!-- container -->

<!-- ==== CONTACT ==== -->

<div id="contact" name="contact">
  <div class="container">
    <div class="row">
      <h2 class="centered">CONTACT US</h2>
      <hr>
      <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
        <p>321 Awesome Street<br>
          New York, NY 17022</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
        <p>info@companyname.com</p>
      </div>
      <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
        <p> +1 800 123 1234</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
        <form id="contact" method="post" action="{% url 'index' %}" class="form" role="form">
          {% csrf_token %}
          <div class="row">
            <div class="col-xs-6 col-md-6 form-group">
              {{ contact_form.name }}
            </div>
            <div class="col-xs-6 col-md-6 form-group">
              {{ contact_form.email }}
            </div>
          </div>
          {{ contact_form.message }}
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <button class="btn btn btn-lg" type="submit">Send Message</button>
            </div>
          </div>
        </form>
        <!-- form -->
      </div>
    </div>
    <!-- row -->

  </div>
</div>
<!-- container -->

<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
          <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a> </li>
          <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script type="text/javascript" src="{% static 'top/js/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'top/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'top/js/smoothscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'top/js/jquery-func.js' %}"></script>
</div>

{% endblock content %}