{% extends "base.html" %}
{% block title %}LIST{% endblock title %}
{% block content %}
{% load staticfiles %}
<link href="{% static 'css/list.css' %}" rel="stylesheet">


<div id="wrapper">
<div id="main">
<form method="post" id="categories">
{% csrf_token %}
<dl><dt>ジャンル</dt>

    <dd>
        <label for="genre_btn_01">カフェ
			<input type='checkbox' id='genre_btn_01' name='categories' value='cafe' ></label>
    </dd>
	<dd>
        <label for="genre_btn_02">レストラン
			<input type='checkbox' id='genre_btn_02' name='categories' value='restaurant'></label>
    </dd>
	<dd>
        <label for="genre_btn_03">公園
			<input type='checkbox' id='genre_btn_03' name='categories' value='park'></label>
    </dd>

</dl>
</form>
<br clear="left">

<dl><dt>場所</dt>
    <dd>
        <label for="place_btn_01">東京
			<input type='checkbox' id='place_btn_01' name='place_btn_01' value='tokyo'></label>
    </dd>
	<dd>
        <label for="place_btn_02">神奈川
			<input type='checkbox' id='place_btn_02' name='place_btn_02' value='kanagawa'></label>
    </dd>
	<dd>
        <label for="place_btn_03">千葉
			<input type='checkbox' id='place_btn_03' name='place_btn_03' value='chiba'></label>
    </dd>
	<dd>
        <label for="place_btn_04">埼玉
			<input type='checkbox' id='place_btn_04' name='place_btn_04' value='saitama'></label>
    </dd>
	<dd>
        <label for="place_btn_05">群馬
			<input type='checkbox' id='place_btn_05' name='place_btn_05' value='gunnma'></label>
    </dd>
	<dd>
        <label for="place_btn_06">茨城
			<input type='checkbox' id='place_btn_06' name='place_btn_06' value='ibaraki'></label>
    </dd>
	<dd>
        <label for="place_btn_07">栃木
			<input type='checkbox' id='place_btn_07' name='place_btn_07' value='tochigi'></label>
    </dd>
</dl>

<br clear="left">

<dl><dt>雰囲気</dt>
    <dd>
        <label for="mood_btn_01">落ち着いている
			<input type='checkbox' id='mood_btn_01' name='mood_btn_01' value='cafe'></label>
    </dd>
	<dd>
        <label for="mood_btn_02">レトロ
			<input type='checkbox' id='mood_btn_02' name='mood_btn_02' value='restaurant'></label>
    </dd>
	<dd>
        <label for="mood_btn_03">おしゃれ
			<input type='checkbox' id='mood_btn_03' name='mood_btn_03' value='park'></label>
    </dd>

</dl>

<br clear="left">

<dl><dt>ツール</dt>
    <dd>
        <label for="tool_btn_01">Wi-Fi(無料)
			<input type='checkbox' id='tool_btn_01' name='tool_btn_01' value='wifi_free'></label>
    </dd>
	<dd>
        <label for="tool_btn_02">Wi-Fi(Softbank)
			<input type='checkbox' id='tool_btn_02' name='tool_btn_02' value='wifi_softbank'></label>
    </dd>
	<dd>
        <label for="tool_btn_03" >電源
			<input type='checkbox' id='tool_btn_03' name='tool_btn_03' value='outlet'></label>
    </dd>
	<!--
	<dd>
        <label for="tool_btn_04" style="color: rgb(255, 255, 255); opacity: 1; background-color: rgb(128, 138, 178);">日経新聞
			<input type='checkbox' id='tool_btn_04' name='tool_btn_04' value='nikkei'></label>
    </dd>
	<dd>
        <label for="tool_btn_05" style="color: rgb(255, 255, 255); opacity: 1; background-color: rgb(128, 138, 178);">スポーツ新聞
			<input type='checkbox' id='tool_btn_05' name='tool_btn_05' value='sports_news'></label>
    </dd>
	-->
</dl>

<br clear="left">
<br>
<br>

<div class="search-result">
{%for place in places %}

			<div class="entry" style="float:left;width:306px;height:300px;margin-bottom:28px; ">
				<div id="entries">
                    <div style="width:270px;height:180px;">
                        <a href="/detail/{{ place.id }}"> <img src={{ place.picture }} alt={{ place.name }} width="270" height="180"></a>
					</div>


					<div id="entrytitle">
                        <a href="/detail/{{ place.id }}"> {{ place.name }}</a>
					</div>

					<div style="width:230px;height:43px;margin:9px 16px 10px 20px;line-height:22px;">
                        <span style="font-size:12px;">
							wi-fi:
                        {% if place.wifi_softbank == 'y' %}
                             softbank
                        {% endif %}
                        {% if place.wifi_free == 'y' %}
                             free
                        {% endif %}
						</span>
                    </div>

					<div style="float:right;font-size:11px;margin:0px 13px 9px 0px;">
						東京・西新宿
					</div>
				</div>
			</div>

{% endfor %}
</div>
</div>
</div>
<script src="{% static 'js/search.js'%}"></script>
{% endblock content %}
