{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
    <div class="container">
        <div class="row">
              <div class="col-lg-8 col-lg-offset-2 centered">
                <form id="login" method="post" action="{% url 'django.contrib.auth.views.login' %}" role="form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                          <input class="form-control" id="name" name="username" placeholder="User Name" type="text" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                          <input class="form-control" id="password" name="password" placeholder="Password" type="password" required />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                          <input class="btn btn btn-lg" type="submit" value="Log in"></input>
                        </div>
                    </div>
                </form>
              </div>
        </div>
    </div>

{% endblock %}