{% extends "base.html" %}
{% block title %}CreateUser{% endblock title %}
{% block content %}

<h1>My page {{user.username}} </h1>

<br>

<h3><a href="{% url 'edit' %}">個人設定</a></h3><br>

<h3>閲覧履歴</h3>
<table width="50%" style="table-layout: auto;" border="1">
<td>店舗名</td><td>閲覧日</td>
{% for browse_history in browse_histories %}
    <tr>
        <td>{{browse_history.place.name}}</td>
        <td>{{browse_history.create_at}}</td>
    </tr>
{% endfor %}
</table>
<br>

<h3>チェックイン履歴</h3>
<table width="50%" style="table-layout: auto;" border="1">
<td>店舗名</td><td>チェックイン日</td>
{% for check_in in check_in_histories %}
    <tr>
        <td><a href=" {{check_in.place.url_pc}} " target="_blank" style="color: blue;">{{check_in.place.name}}</a></td>
        <td>{{check_in.create_at}}</td>
    </tr>
{% endfor %}
</table>

<br>
<h3>レコメンド表示</h3>
<button type="button" onclick="location.href='{% url 'display_recommend' %}'">
    レコメンド：
    {% if user.display_recommend %}
    表示中
    {% else %}
    非表示
    {% endif %}

</button>

{% endblock content %}
