<div id="preference_form">
    <form method="post" id="narrow_down">
        {% csrf_token %}
        <dl><dt>ジャンル</dt>
            {% for category in narrow_down_form.categories %}
            <dd>
                {{ category }}
            </dd>
            {% endfor %}
        </dl>

        <br clear="left">

        {% csrf_token %}
        <dl><dt>雰囲気</dt>
            {% for mood in narrow_down_form.moods %}
            <dd>
                {{ mood }}
            </dd>
            {% endfor %}
        </dl>

        <br clear="left">

        {% csrf_token %}
        <dl><dt>ツール</dt>
            {% for tool in narrow_down_form.tools %}
            <dd>
                {{ tool }}
            </dd>
            {% endfor %}
        </dl>

        <br clear="left">
    </form>
</div>
