.navbar-default {
    border-color: transparent;
    background-color: #dadada;
}
.navbar-inverse .navbar-brand {
    font-weight: 500;
    font-size: 20px;
}
.navbar-toggle {
    border-color: transparent;
    border: 0px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #16a085;
    color: white;
}

::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}
::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}
body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}

.banner_image{
    text-align: center;
}
p.banner_image img {
    -webkit-filter: brightness(60%);
    width: 100%;
}
.banner_text{
    position: absolute;
    top: 100px;
    font-size: xx-large;
    color: #ffffff;
}

.block_white {
    padding: 20px;
    background: #fff;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
}
.block_blue {
    padding: 20px;
    background: #ddf;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
}
.block_red {
    padding: 20px;
    background: #fdd;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    -moz-box-shadow: 0 2px 3px 0 #ddd;
    -webkit-box-shadow: 0 2px 3px 0 #ddd;
}