@charset "utf-8";


#entrytitle {
    height:18px;
    font-size:16px;
    margin:18px 5px 0px 10px;
}

#entrytitle img{
    vertical-align: middle;
}



.entry a:link{
	color:blackh;
}

.entry a:visited{
	color:gray;
}

#wrapper {
	width:1000px;
	margin:0 auto;
	background-color:#FFFFFF;
    text-align: left;
    margin: 0 auto; /* center on everything else */
	}


#main {
	float:left;
	margin-left:50px;
	margin-right:50px;
	margin-top:36px;
	width:1000px;
    margin-bottom:100px;
    //height:2920px;
	}

#contents{
	margin-top:0px;
	padding-top:0px;
	float:left;
//	width:610px;
}


#entries{
	border:1px #CCC solid;
	width:270px;
	height:304px;
//	float:left;
	margin:0px 20px 0px 20px;
	background-color:#FFFFFF;
    font-size:90%;
}



/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html>body .entry ul {
	margin-left: 0px;
	padding: 0 0 0 30px;
	list-style: none;
	padding-left: 10px;
	text-indent: -10px;
	}

html>body .entry li {
	margin: 7px 0 8px 10px;
	}
