#map-canvas {
    overflow: hidden;
    width: 68%;
    height: 92%;
    margin: 0;
    padding: 0;
    z-index: 0;
}

#function-list{
    position: absolute;
    width: 68%;
    height: 10%;
    z-index: 1;
    bottom: -0.5%;
    right: 0;
    background-color: rgba(255,255,255,0.9)
}

#function-list button {
    display:block;
    float: left;
    border: none;
    border-radius: 0;
    width: 25%;
    height: 100%;
    margin: 0 0;
}

.btn-search-here {
    background-color: #ffbf00;
    color: white;
}

.btn-search-here:focus, .btn-search-here:hover {
    background-color: #efaf10;
    color: white;
}

.btn-back {
    background-color: #81a7d5;
    color: white;
}

.btn-back:focus, .btn-back:hover {
    background-color: #7c94bf;
    color: white;
}

.btn-recommend {
    background-color: #7db7db;
    color: white;
}

.btn-recommend:focus, .btn-recommend:hover {
    background-color: #62a3c4;
    color: white;
}

.btn-create-place {
    background-color: #d27eb3;
    color: white;
}

.btn-create-place:focus, .btn-create-place:hover {
    background-color: #bc70a0;
    color: white;
}

.location_card{
    width: 99%;
    height: 105pt;
    margin: 0 0 0px 0;
    padding: 3px;
    background-color: #fff;
    /*border-right: 1px solid #ccc;*/
    /*border-left: 1px solid #ccc;*/
    /*border-bottom: 1px solid #ccc;*/
    /*border-top: 1px solid #ccc;*/
    /*box-shadow: 0 0 2px 0 #fff;*/
}

.location_card h4 {
    margin-top: 3px;
    margin-bottom: 0;
    line-height: 14pt;
}


.location_card:hover {
    background-color: #f5f5f5;
    box-shadow: 0 0px 0px 0 #ddd;
}
#select{
    overflow: hidden;
    float: left;
    width: 32%;
    height: 92%;
    border: 1px #ccc solid;

}

#filter_list {
    overflow: hidden;
    min-height: 10;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

#filter_list .current_position {
    margin-left: 10pt;
}

#filter_list .preference {
    display:block;
    float: right;
    margin-right: 10pt;
}

#filter_list .sort {
    display:block;
    float: right;
    margin-right: 10pt;
}

#location_list{
    overflow: scroll;
    height: 97%;
}

#location_list .place_picture {
    height: 90pt;
    width: 90pt;
    float: left;
    overflow: hidden;
    margin: 5pt 10px 0 0;
}

.place_picture img{
    width: 90pt;
    height: 90pt;
}

#location_list .place_name {
    height: 30pt;
    margin-top: 6pt;
    margin-bottom: 0pt;
}

#location_list .total_point {

}

#location_list .info{
    height: 61pt;
    width: 195pt;
    float: left;
    display: block;
    color:#999;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
}

#overlay_text{
    color: #000;
    text-shadow:
        0 1px 0 #fff,
        1px 0 0 #fff,
        0 -1px 0 #fff,
        -1px 0 0 #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff
        ;
    font: 'Century Gothic';
    font-weight: 900;
    -webkit-text-stroke: 0.1px #ffffff;
}