@charset "utf-8";

#login-dp {
    min-width: 200px;
    padding: 14pt 14pt 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#my-dp {
    min-width: 200px;
    padding: 14pt 14pt 5pt;
    overflow: hidden;
    background-color: rgba(255,255,255,.8);
}

#my-dp .divider {
    height: 1pt;
    margin: 8px -10px;
    background-color: #ccc;
}

#my-dp .username{
    margin: 0 -14pt 0;
    padding: 5pt;
    background-color: #fff;
}

#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}

#login-dp .fa {
	width: 30px;
	height: 30px;
	margin: 0 3px;
	border-radius: 100%;
	font-size: 15px;
	line-height: 30px;
	outline: 0;
	color: #fff;
	background-color: #c4c4c4;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#login-dp .fa:hover {
	background-color: #ffbf00;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
#login-dp .row {
    margin-right: -15pt;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}